.container {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1a;
  overflow: hidden;
  padding-bottom: 90px;
}

.canvas {
  width: 100%;
  height: 100%;
  cursor: grab;
  user-select: none;
}

.canvas:active {
  cursor: grabbing;
}

